@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.apexcharts-datalabel,
.apexcharts-data-labels text {
  display: none !important;
}

:root {
  --dot-grid: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' fill='none'%3e%3ccircle fill='currentColor' cx='10' cy='10' r='1.5'/%3e%3c/svg%3e");
}

h1 {
  font-size: 45px;
  font-weight: 700;
}

h2 {
  font-size: 25px;
  font-weight: 500;
}

button {
  cursor: pointer;
}

svg {
  display: inline;
}

.container {
  max-width: 1200px;
}

@layer base {
  :focus {
    @apply outline-none;
  }

  :focus-visible {
    @apply outline-none ring-2 ring-green-600 ring-offset-2 ring-offset-transparent z-50;
  }
}
