@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.apexcharts-datalabel,
.apexcharts-data-labels text {
  display: none !important;
}

h1 {
  font-size: 45px;
  font-weight: 700;
}

h2 {
  font-size: 25px;
  font-weight: 500;
}

button {
  cursor: pointer;
}

svg {
  display: inline;
}

@layer base {
  :focus {
    @apply outline-none;
  }

  :focus-visible {
    @apply outline-none ring-2 ring-green-600 ring-offset-2 ring-offset-transparent z-50;
  }
}
