@import "tailwindcss";

:root {
  --dot-grid: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' fill='none'%3e%3ccircle fill='currentColor' cx='10' cy='10' r='1.5'/%3e%3c/svg%3e");
}

.ascii {
  font-family: ui-monospace, SFMono-Regular, Menlo, Consolas, monospace;
  white-space: pre;
  line-height: 1.5;
  letter-spacing: 0.5;
  overflow: hidden;
}

h1 {
  font-size: 45px;
  font-weight: 700;
}

h2 {
  font-size: 25px;
  font-weight: 600;
}

button {
  cursor: pointer;
}

svg {
  display: inline;
}

.container {
  max-width: 1200px;
}

@layer base {
  :focus {
    @apply outline-none;
  }

  :focus-visible {
    @apply outline-none ring-2 ring-green-600 ring-offset-2 ring-offset-transparent z-50;
  }
}
